@font-face {
  font-family: "iconfont"; /* Project id 4419603 */
  src: url('iconfont.woff2?t=1705910139859') format('woff2'),
       url('iconfont.woff?t=1705910139859') format('woff'),
       url('iconfont.ttf?t=1705910139859') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-QQ:before {
  content: "\e65e";
}

.icon-GitHub:before {
  content: "\ea0a";
}

.icon-youxiang:before {
  content: "\e672";
}

.icon-weixin:before {
  content: "\e607";
}

